<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="REPORT">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Report</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Report.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.17.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Hostel Management System",
		"logo": "images/BLACK.png"
}</script>
    <meta property="og:title" content="Report">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
  </head>
  <body class="u-body"><header class=" u-clearfix u-header u-section-row-container" id="sec-cc91"><div class="u-section-rows">
        <div class="u-grey-15 u-section-row u-section-row-1" id="sec-524c">
          <div class="u-clearfix u-sheet u-sheet-1">
            <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="1600" data-image-height="337">
              <img src="images/BLACK.png" class="u-logo-image u-logo-image-1" data-image-width="518.0689">
            </a>
          </div>
          
          
          
          
          
        </div>
        <div class="u-grey-15 u-section-row u-sticky u-section-row-2" id="sec-61b2">
          <div class="u-clearfix u-sheet u-sheet-2">
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
              <div class="menu-collapse" style="font-size: 1.25rem; letter-spacing: 0px; font-weight: 800; text-transform: uppercase;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#">
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
                </a>
              </div>
              <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="SERVE-ROOMS.html" style="padding: 10px 20px;">SERVE ROOMS</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="UPDATE-ROOM-.html" style="padding: 10px 20px;">UPDATE ROOM</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="WITHDRAW-ROOMS.html" style="padding: 10px 20px;">WITHDRAW ROOMS</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="ROOMS-DETAILS.html" style="padding: 10px 20px;">ROOMS DETAILS</a>
</li></ul>
              </div>
              <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                  <div class="u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="SERVE-ROOMS.html" style="padding: 10px 20px;">SERVE ROOMS</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="UPDATE-ROOM-.html" style="padding: 10px 20px;">UPDATE ROOM</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="WITHDRAW-ROOMS.html" style="padding: 10px 20px;">WITHDRAW ROOMS</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="ROOMS-DETAILS.html" style="padding: 10px 20px;">ROOMS DETAILS</a>
</li></ul>
                  </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
              </div>
            </nav>
          </div>
          
          
          
          
          
        </div>
      </div></header>
    <section class="u-clearfix u-grey-10 u-section-1" id="sec-28c2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">
          <span style="font-weight: 700;">REPORT</span>
        </h2>
        <div class="u-container-style u-group u-group-1">
          <div class="u-container-layout">
            <h3 class="u-align-center u-text u-text-2">Number of Vacant Rooms : fakerooms</h3>
            <a href="https://nicepage.com/c/contacts-website-templates" class="u-active-custom-color-3 u-btn u-btn-round u-button-style u-hover-custom-color-2 u-palette-5-dark-3 u-radius-50 u-btn-1"> sEE ROOMS&nbsp;&nbsp;<span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" style="width: 1em; height: 1em;"><g><path d="M0,42.799V51c0,0.162,0.043,0.315,0.117,0.451C1.298,56.346,11.864,60,25,60c13.106,0,23.655-3.639,24.875-8.516   C49.955,51.341,50,51.176,50,51v-8.199C45.865,45.711,37.345,48,25,48C12.654,48,4.134,45.71,0,42.799z"></path><path d="M53,49.954c0,0.196-0.048,0.38-0.133,0.541c-0.139,0.586-0.4,1.156-0.76,1.707c4.305-1.514,7.167-3.609,7.767-6.007   C59.955,46.051,60,45.885,60,45.71V37.51l-7,3.291V49.954z"></path><path d="M27.606,35.958C26.737,35.986,25.867,36,25,36c-0.869,0-1.742-0.014-2.614-0.042c-7.341-0.201-13.191-1.238-17.403-2.717   C3.004,32.574,1.309,31.788,0,30.889V38v0.5V39v1.289C2.846,43.26,12.394,46,25,46s22.154-2.74,25-5.711V39v-0.5V38v-7.111   c-1.318,0.905-3.028,1.697-5.025,2.367C40.765,34.728,34.927,35.759,27.606,35.958z"></path><path d="M52,29v8.471v0.533v0.533v0.209c3.873-1.031,6.673-2.362,8-3.748V33.71v-0.5v-0.5v-7.111   c-1.318,0.905-3.028,1.697-5.025,2.367L52,29z"></path><path d="M0,18.979v7.111v0.5v0.5v1.289c2.638,2.754,11.033,5.31,22.286,5.668c0.115,0.004,0.233,0.005,0.349,0.008   c0.326,0.009,0.651,0.018,0.982,0.023c0.457,0.007,0.917,0.011,1.383,0.011s0.926-0.004,1.383-0.011   c0.33-0.005,0.656-0.014,0.982-0.023c0.116-0.003,0.234-0.005,0.349-0.008C38.967,33.688,47.362,31.132,50,28.378V27.09v-0.5v-0.5   v-7.111c-4.867,3.344-15.156,5.111-25,5.111S4.867,22.322,0,18.979z"></path><path d="M25,5.29C9.923,5.29,1.303,9.51,0.146,13.8C0.062,13.947,0,14.108,0,14.29v0.5v1.806c2.836,2.961,12.316,5.694,25,5.694   s22.164-2.733,25-5.694V14.79v-0.5c0-0.168-0.056-0.319-0.135-0.458C48.743,9.531,40.115,5.29,25,5.29z"></path><path d="M52,24.501v0.599V25.7v1.142c3.879-1.031,6.671-2.367,8-3.754v-1.289v-0.5v-0.5v-7.111c-1.932,1.327-4.727,2.402-8,3.22   V24.501z"></path><path d="M59.865,8.542C58.743,4.241,50.115,0,35,0C24.873,0,17.676,1.907,13.68,4.457C17.16,3.725,21.268,3.29,26,3.29   c15.72,0,24.692,4.74,25.86,9.547c0.082,0.155,0.14,0.324,0.14,0.512v0.559v1.142c3.88-1.029,6.674-2.359,8-3.744V9.5V9   C60,8.832,59.944,8.681,59.865,8.542z"></path>
</g></svg><img></span>
            </a>
            <h3 class="u-align-center u-text u-text-3">Number of Students can be Hosted : fakestu</h3>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-738c"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-grey-25 u-text-variant u-text-1">University Hostel Managem​ent System&nbsp;<br>© Lakindu Oshadha |&nbsp;2021<br>
        </p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/css-templates" target="_blank">
        <span>Free CSS Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
        <span>HTML Builder</span>
      </a>. 
    </section>
  </body>
</html>