<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="STUDENT REQUESTS">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>SERVE ROOMS</title>
    <link rel="stylesheet" href="main.css" media="screen">
<link rel="stylesheet" href="SERVE-ROOMS.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/mainhtml.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Hostel Management System",
		"logo": "images/BLACK.png"
}</script>
    <meta property="og:title" content="SERVE ROOMS">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
  </head>
  <body class="u-body"><header class=" u-clearfix u-header u-section-row-container" id="sec-cc91"><div class="u-section-rows">
        <div class="u-grey-15 u-section-row u-section-row-1" id="sec-524c">
          <div class="u-clearfix u-sheet u-sheet-1">
            <a href="#" class="u-image u-logo u-image-1" data-image-width="1600" data-image-height="337">
              <img src="images/BLACK.png" class="u-logo-image u-logo-image-1" data-image-width="518.0689">
            </a>
          </div>
          
          
          
          
          
        </div>
        <div class="u-grey-15 u-section-row u-sticky u-section-row-2" id="sec-61b2">
          <div class="u-clearfix u-sheet u-sheet-2">
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
              <div class="menu-collapse" style="font-size: 1.25rem; letter-spacing: 0px; font-weight: 800; text-transform: uppercase;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#">
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
                </a>
              </div>
              <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="SERVE-ROOMS" style="padding: 10px 20px;">SERVE ROOMS</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="UPDATE-ROOM" style="padding: 10px 20px;">UPDATE ROOM</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="WITHDRAW-ROOMS" style="padding: 10px 20px;">WITHDRAW ROOMS</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="ROOMS-DETAILS" style="padding: 10px 20px;">ROOMS DETAILS</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="STUDENT-DETAILS" style="padding: 10px 20px;">STUDENT DETAILS</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-grey-75 u-button-style u-nav-link u-text-active-palette-1-dark-2 u-text-hover-palette-5-dark-2" href="POST-NOTICE" style="padding: 10px 20px;">POST NOTICE</a>
</li></ul>
              </div>
              <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                  <div class="u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="SERVE-ROOMS" style="padding: 10px 20px;">SERVE ROOMS</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="UPDATE-ROOM" style="padding: 10px 20px;">UPDATE ROOM</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="WITHDRAW-ROOMS" style="padding: 10px 20px;">WITHDRAW ROOMS</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="ROOMS-DETAILS" style="padding: 10px 20px;">ROOMS DETAILS</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="STUDENT-DETAILS" style="padding: 10px 20px;">STUDENT DETAILS</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="POST-NOTICE" style="padding: 10px 20px;">POST NOTICE</a>
</li></ul>
                  </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
              </div>
            </nav>
          </div>
          
          
          
          
          
        </div>
      </div></header>
    <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="carousel_1257">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
          <span style="font-weight: 700;">SERVE</span> ROOMS<br>
        </h2>
        <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
          <form action="/room-serve-report" method="POST" class="u-clearfix u-form-custom-backend u-form-spacing-29 u-form-vertical u-inner-form" style="padding: 30px;" source="custom" name="form" redirect="true">
            <div class="u-form-group u-form-select u-form-group-1">
              <label for="select-9444" class="u-label u-label-1">Hostel : </label>
              <div class="u-form-select-wrapper">
                <select id="select-9444" name="hostelName" class="u-border-2 u-border-white u-input u-input-rectangle u-radius-50 u-white u-input-1" required="required">
                  <option value="Block A">Block A</option>
                  <option value="Block B">Block B</option>
                  <option value="Block C">Block C</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-group u-form-group-2">
              <label for="text-233a" class="u-form-control-hidden u-label u-label-2"></label>
              <input name="roomNumber" type="text" placeholder="Enter Room Number" id="text-233a" name="room-name" class="u-border-2 u-border-white u-input u-input-rectangle u-radius-50 u-white u-input-2" required="required">
            </div>
            <div class="u-form-group u-form-group-3">
              <label for="text-a5bc" class="u-label u-label-3">Students Details</label>
              <input type="text" id="text-a5bc" name="student1" class="u-border-2 u-border-white u-input u-input-rectangle u-radius-50 u-white u-input-3" placeholder="Registration Number of Student 1">
            </div>
            <div class="u-form-group u-form-group-4">
              <label for="text-1eaf" class="u-form-control-hidden u-label u-label-4"></label>
              <input type="text" placeholder="Registration Number of Student 2" id="text-1eaf" name="student2" class="u-border-2 u-border-white u-input u-input-rectangle u-radius-50 u-white u-input-4">
            </div>
            <div class="u-form-group u-form-group-5">
              <label for="text-e014" class="u-form-control-hidden u-label u-label-5"></label>
              <input type="text" placeholder="Registration Number of Student 3" id="text-e014" name="student3" class="u-border-2 u-border-white u-input u-input-rectangle u-radius-50 u-white u-input-5">
            </div>
            <div class="u-form-group u-form-group-6">
              <label for="text-f111" class="u-form-control-hidden u-label u-label-6"></label>
              <input type="text" placeholder="Registration Number of Student 4" id="text-f111" name="student4" class="u-border-2 u-border-white u-input u-input-rectangle u-radius-50 u-white u-input-6">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-active-grey-80 u-border-2 u-border-active-grey-80 u-border-hover-grey-80 u-border-palette-5-dark-3 u-btn u-btn-round u-btn-submit u-button-style u-hover-grey-75 u-palette-5-dark-3 u-radius-50 u-btn-1">serve</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-738c"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-grey-25 u-text-variant u-text-1">University Hostel Managem​ent System&nbsp;<br>© Lakindu Oshadha |&nbsp;2021<br>
        </p>
      </div></footer>
  </body>
</html>